@include breakpoint(medium) {
  // Home page
  p {
    margin-bottom: rem-calc(24);
  }
  hr {
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(30);
  }
  .lead {
    font-size: rem-calc(25);
  }
  .card {
    margin-bottom: rem-calc(20);
    &.map-details {
      margin-bottom: 0;
    }
  }
  .card-section {
    padding: rem-calc(25);
    & + .card-section {
      padding-top: rem-calc(15);
    }
    &.prices-item-costs {
      padding-top: 0;
    }
  }
  .header-content {
    padding-top: rem-calc(16);
    padding-bottom: rem-calc(17);
  }
  .header-infoblock-text {
    margin-bottom: rem-calc(15);
    font-size: rem-calc(30);
  }
  .hero {
    padding-bottom: rem-calc(45);
  }
  .breadcrumbs {
    margin-bottom: rem-calc(23);
  }
  .heading {
    &.bordered {
      margin-bottom: rem-calc(76);
      &:after {
        bottom: rem-calc(-35);
      }
    }
  }
  .info-list {
    max-width: rem-calc(380);
  }
  .callback-form {
    box-shadow: 26px 17px 166px #8489a3;
  }
  .header-callback-form {
    margin-top: 1rem;
  }
  .learn {
    padding-top: rem-calc(42);
    padding-bottom: rem-calc(72);
  }
  .about {
    padding-bottom: rem-calc(62);
  }
  .whom {
    padding-top: rem-calc(137);
    padding-bottom: rem-calc(84);
  }
  .whom-content {
    padding-left: rem-calc(45);
    padding-right: rem-calc(15);
  }
  .program {
    padding-bottom: rem-calc(55);
  }
  .program-table {
    margin-bottom: rem-calc(41);
    tr {
      &:first-child {
        td {
          padding-top: rem-calc(29);
        }
      }
      &:last-child {
        td {
          padding-bottom: rem-calc(60);
        }
      }
    }
    th,
    td {
      &:first-child {
        padding-left: rem-calc(20);
        min-width: rem-calc(190);
      }
      &:last-child {
        padding-right: rem-calc(20);
      }
    }
    p {
      margin-bottom: rem-calc(20);
    }
  }
  .trainer-content {
    align-items: flex-end;
  }
  .trainer-title {
    margin-bottom: rem-calc(10);
  }
  .practice-content {
    padding-top: rem-calc(71);
    padding-bottom: rem-calc(39);
  }
  .practice-heading {
    &.bordered {
      margin-bottom: rem-calc(125);
      &:after {
        bottom: rem-calc(-41);
      }
    }
  }
  .practice-info {
    margin-bottom: rem-calc(50);
    padding: rem-calc(0 104 22);
    &:before,
    &:after {
      width: 15%;
    }
  }
  .practice-title {
    top: rem-calc(-27);
    font-size: rem-calc(48);
  }
  .mail {
    padding-top: rem-calc(130);
    padding-bottom: rem-calc(130);
  }
  .mail-heading {
    margin-bottom: rem-calc(46);
  }
  .mail-title {
    margin-bottom: rem-calc(6);
    line-height: unitless-calc(48, 34);
  }
  .mail-form {
    max-width: rem-calc(300);
    input {
      margin-bottom: rem-calc(39);
    }
  }
  .text {
    padding-top: rem-calc(68);
    padding-bottom: rem-calc(36);
    p {
      padding-right: rem-calc(55);
    }
  }
  .custom-table {
    margin-bottom: rem-calc(56);
    th,
    td {
      &:last-child {
        label {
          float: right;
        }
      }
    }
  }
  .text-title {
    margin-bottom: rem-calc(4);
  }
  .feedback {
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(69);
  }
  .feedback-item {
    margin-bottom: 0;
  }
  .feedback-item-picture {
    padding-top: rem-calc(62);
  }
  .feedback-item-content {
    padding-bottom: rem-calc(10);
  }
  .feedback-item-author {
    margin-bottom: rem-calc(36);
  }
  .prices {
    padding-top: rem-calc(52);
    padding-bottom: rem-calc(50);
  }
  .prices-item-cell {
    margin-bottom: rem-calc(20);
  }
  .prices-item {
    margin-bottom: 0;
    height: 100%;
  }
  .prices-item-info {
    margin-bottom: rem-calc(10);
  }
  .prices-item-heading {
    &.bordered {
      margin-bottom: rem-calc(65);
      &:after {
        bottom: rem-calc(-24);
      }
    }
  }
  .prices-item-description {
    margin-bottom: rem-calc(56);
  }
  .prices-item-costs {
    flex-grow: 0;
  }
  .costs-table {
    td {
      padding-top: rem-calc(27);
      padding-bottom: rem-calc(27);
    }
  }
  .map-wrapper {
    position: relative;
    overflow: hidden;
  }
  .map {
    height: rem-calc(500);
  }
  .map-info {
    position: absolute;
    bottom: rem-calc(80);
    left: 0;
    padding: 0;
    max-width: rem-calc(400);
    background-color: transparent;
  }
  .map-details {
    padding: rem-calc(15 15 0);
    box-shadow: 0 0 51px rgba(75, 91, 124, 0.22);
    p {
      padding-right: rem-calc(35);
    }
  }
  .map-heading {
    &.bordered {
      &:after {
        bottom: rem-calc(-42);
      }
    }
  }
  .partners {
    padding-top: rem-calc(53);
    padding-bottom: rem-calc(118);
  }
  .partners-title {
    margin-bottom: rem-calc(22);
  }
  .partners-slider-wrapper {
    padding-top: rem-calc(46);
    padding-bottom: rem-calc(41);
  }
  .partners-slider-control {
    margin-top: rem-calc(-59);
  }
  .footer {
    background-image: linear-gradient(90deg, #182452 50%, #131d43 0);
  }
  .footer-contact-col {
    display: flex;
    flex-direction: column;
    padding-bottom: rem-calc(16);
  }
  .footer-logo {
    margin-bottom: auto;
  }
  .footer-content,
  .footer-author-copyright {
    padding-left: rem-calc(10);
  }
  .footer-subsection-title {
    margin-bottom: rem-calc(44);
  }
}

@include breakpoint(large) {
  // Home page
  hr {
    margin-top: rem-calc(48);
    margin-bottom: rem-calc(61);
  }
  .navigation-menu {
    li {
      flex-basis: rem-calc(200);
    }
  }
  .callback-form {
    padding: rem-calc(44 50 34);
  }
  .callback-form-title {
    margin-bottom: rem-calc(49);
  }
  .about {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .program-table {
    th,
    td {
      &:first-child {
        padding-left: rem-calc(40);
      }
      &:last-child {
        padding-right: rem-calc(80);
      }
    }
  }
  .trainer {
    padding-top: rem-calc(96);
  }
  .trainer-content {
    align-items: center;
  }
  .trainer-info {
    padding-right: rem-calc(40);
  }
  .practice-info {
    &:before,
    &:after {
      width: 20%;
    }
  }
  .practice-title {
    top: rem-calc(-40);
    font-size: rem-calc(66);
  }
  .custom-table {
    th,
    td {
      &:first-child {
        padding-left: rem-calc(33);
        width: 58%;
      }
      &:last-child {
        padding-right: rem-calc(30);
      }
    }
  }
  .prices-item {
    padding: rem-calc(25 15);
  }
  .map {
    height: rem-calc(674);
  }
  .map-info {
    bottom: rem-calc(176);
  }
  .footer {
    background-image: linear-gradient(90deg, #182452 33.3333%, #131d43 0);
    background-image: linear-gradient(90deg, #182452 calc(33.3333% + 20px), #131d43 0);
  }
  .footer-infoblock {
    &:not(:last-child) {
      margin-bottom: rem-calc(54);
    }
  }
  .footer-content {
    padding-left: rem-calc(30);
  }
  .scl-menu {
    &.simple {
      li {
        margin-right: rem-calc(40);
      }
    }
  }
  .footer-author-copyright {
    text-align: right;
  }
}

@include breakpoint(xlarge) {
  // Home page
  .page-menu {
    li {
      & + li {
        margin-left: rem-calc(75);
      }
    }
  }
  .practice-info {
    &:before,
    &:after {
      width: rem-calc(215);
    }
  }
  .mail-content {
    margin-left: rem-calc(-20);
    padding-right: rem-calc(50);
  }
  .map-info {
    left: 50%;
    margin-left: rem-calc(-600);
  }
  .footer-content {
    padding-left: rem-calc(80);
  }
}

@include breakpoint(1280px) {
  // Home page
}

@include breakpoint(xxlarge) {
  // Home page
}

@include breakpoint(medium down) {
  // Home page
  .prices-checked-list {
    margin-left: rem-calc(18);
  }
}

@include breakpoint(small only) {
  // Home page
  .button {
    &.small-expanded {
      width: 100%;
    }
  }
  .header-logo {
    max-width: rem-calc(103);
  }
  .header-infoblock-text {
    margin-bottom: 0;
  }
  .burger-wrapper {
    line-height: 0;
  }
  .breadcrumbs {
    li {
      display: none;
      max-width: rem-calc(140);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:first-child,
      &:last-child {
        display: list-item;
      }
    }
  }
  .program-table {
    td {
      & + td {
        padding-top: 0;
      }
    }
  }
  .trainer-subtitle {
    font-size: rem-calc(14);
  }
  .mail-picture {
    margin-bottom: rem-calc(30);
  }
  .custom-table {
    th,
    td {
      padding-top: rem-calc(12);
      padding-bottom: rem-calc(5);
      &:last-child {
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(30);
      }
      &:empty {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .copyright {
    margin-bottom: rem-calc(10);
  }
}
