.breadcrumbs {
  padding: rem-calc(12 0);
  li {
    line-height: unitless-calc(23, 13);
  }
  a {
    border: 0;
    &:hover,
    &:focus {
      color: $anchor-color;
      text-decoration: none;
    }
  }
}
