.button {
  box-sizing: border-box;
  width: rem-calc(280);
  max-width: 100%;
  border: 0;
  line-height: unitless-calc(25, 16);
  font-weight: 600;
  white-space: nowrap;
  user-select: none;
  &.hollow {
    &.default {
      padding-top: rem-calc(11);
      padding-bottom: rem-calc(11);
      border: 4px solid $medium-gray;
      color: #1f3d4e;
      &:hover,
      &:focus {
        border-color: $secondary-color;
        color: $white;
        background-color: $secondary-color;
      }
    }
  }
  &.secondary {
    color: $white;
    &:hover,
    &:focus {
      color: $white;
    }
  }
  &.long {
    width: rem-calc(300);
  }
}
.burger {
  position: relative;
  width: 25px;
  height: 25px;
  outline: none;
  i {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    opacity: 1;
    background-color: $white;
    transition: background-color 0.2s linear;
    &:first-child,
    &:nth-child(3) {
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:first-child {
      top: 3px;
    }
    &:nth-child(2) {
      top: 11px;
      transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:nth-child(3) {
      top: 19px;
    }
  }
  &.active {
    i {
      &:first-child {
        transform: translateY(8px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
.video-button {
  padding: rem-calc(22 37 23 42);
  &.hollow {
    border: 7px solid rgba($white, 0.35);
    color: $white;
    &:hover,
    &:focus {
      border-color: rgba($white, 0.5);
      color: $white;
    }
  }
  .icon {
    margin-right: rem-calc(15);
  }
}
.counter-button {
  display: block;
  flex: 1 0 rem-calc(35);
  margin: 0;
  padding: rem-calc(0 5);
  width: rem-calc(35);
  height: rem-calc(35);
  max-width: rem-calc(35);
  border: 1px solid $super-light-gray;
  font-size: rem-calc(28);
  line-height: unitless-calc(31, 28);
  text-align: center;
  user-select: none;
  color: #7d8b99;
  background-color: transparent;
  &:hover,
  &:focus {
    border-color: $primary-color;
    color: $white;
    background-color: $primary-color;
  }
}
