<div class="about section light">
  <div class="grid-container">
    <div class="heading bordered seondary h3">О чем тренинг</div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <p>В основе программы лежит разработанный компанией «Тойота» подход к организации производственной системы TPM (Total
          Productive Maintenance), более известный под названием Lean Production (Бережливое производство).</p>
        <p>Система «Бережливое производство» позволяет максимально подстроить производство под потребности заказчиков путём минимизации
          потерь.</p>
        <p>Переход к бережливому производству во многих случаях не требует серьезных вложений и приносит экономический эффект
          даже при внедрении одного-двух инструментов.</p>
      </div>
      <!-- /.cell -->
      <div class="cell medium-6">
        <img src="assets/img/chart.jpg" alt="">
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.about -->