<div class="feedback section">
  <div class="grid-container">
    <div class="h2">Отзывы</div>
    <div id="feedback-slider" class="feedback-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="feedback-item card">
            <div class="feedback-item-picture card-section">
              <img src="assets/img/feedback/1.jpg" alt="">
            </div>
            <!-- /.feedback-item-picture -->
            <div class="feedback-item-content card-section">
              <div class="feedback-item-author text-center">
                <div class="feedback-item-title">Иван Сергеев</div>
                <div class="feedback-item-subtitle">IT директор</div>
              </div>
              <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе
                человеческая мысль; в общем плане связная и полная последовательность символов.</p>
              <p>Существуют две основные трактовки понятия «текст»: имманентная</p>
              <div class="feedback-item-meta">
                <a href="#" class="feedback-show-more">Читать отзыв целиком</a>
                <div class="feedback-item-date">9 ноября 2017</div>
              </div>
            </div>
            <!-- /.feedback-item-content -->
          </div>
          <!-- /.feedback-item -->
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <div class="feedback-item card">
            <div class="feedback-item-picture card-section">
              <img src="assets/img/feedback/2.jpg" alt="">
            </div>
            <!-- /.feedback-item-picture -->
            <div class="feedback-item-content card-section">
              <div class="feedback-item-author text-center">
                <div class="feedback-item-title">Константин Константинопольский</div>
                <div class="feedback-item-subtitle">Менеджер</div>
              </div>
              <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе
                человеческая мысль; в общем плане связная и полная последовательность символов.</p>
              <div class="feedback-item-meta">
                <a href="#" class="feedback-show-more">Читать отзыв целиком</a>
                <div class="feedback-item-date">9 ноября 2017</div>
              </div>
            </div>
            <!-- /.feedback-item-content -->
          </div>
          <!-- /.feedback-item -->
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <div class="feedback-item card">
            <div class="feedback-item-picture card-section">
              <img src="assets/img/feedback/3.jpg" alt="">
            </div>
            <!-- /.feedback-item-picture -->
            <div class="feedback-item-content card-section">
              <div class="feedback-item-author text-center">
                <div class="feedback-item-title">Мария Лонинова</div>
                <div class="feedback-item-subtitle">Инженер</div>
              </div>
              <div class="responsive-embed">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GkQhConeJ9c" allow="encrypted-media"
                  allowfullscreen></iframe>
              </div>
              <p>Существуют две основные трактовки понятия «текст»: имманентная</p>
              <div class="feedback-item-meta">
                <div class="feedback-item-date">9 ноября 2017</div>
              </div>
            </div>
            <!-- /.feedback-item-content -->
          </div>
          <!-- /.feedback-item -->
        </div>
        <!-- /.swiper-slide -->
      </div>
      <!-- /.swiper-wrapper -->
    </div>
    <!-- /.feedback-slider -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.feedback -->