<footer class="footer">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="footer-contact-col footer-col cell medium-6 large-4">
        <a href="#" class="footer-logo logo"><img src="assets/img/logo-secondary.png" alt=""></a>
        <div class="footer-infoblock infoblock flex-container align-middle">
          <div class="footer-infoblock-picture infoblock-picture flex-container flex-dir-column align-center">
            <svg class="icon" width="24" height="39">
              <use xlink:href="#phone-call"></use>
            </svg>
          </div>
          <div class="infoblock-content">
            <p class="footer-infoblock-text infoblock-text">
              <a href="tel:+73422030114" class="footer-phone-link phone-link">
                <span class="phone-link-text">+7&nbsp;(342)&nbsp;20-30-114</span>
              </a>
            </p>
            <a href="#" class="infoblock-link">Заказать звонок</a>
          </div>
        </div>
        <div class="footer-infoblock infoblock flex-container align-middle">
          <div class="footer-infoblock-picture infoblock-picture flex-container flex-dir-column align-center">
            <svg class="icon" width="26" height="34">
              <use xlink:href="#marker"></use>
            </svg>
          </div>
          <div class="infoblock-content">
            <p class="footer-infoblock-text infoblock-text">г.Пермь, ул. Старцева, 1а</p>
            <a href="#" class="infoblock-link">Показать на карте</a>
          </div>
        </div>
      </div>
      <!-- /.cell -->
      <div class="footer-col cell medium-6 large-8">
        <div class="footer-content">
          <div class="grid-x grid-padding-x">
            <div class="cell large-4">
              <ul class="links vertical menu simple text-left">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <!-- /.cell -->
            <div class="cell large-4">
              <ul class="links vertical menu simple text-left">
                <li><a href="#">Банк знаний</a></li>
                <li><a href="#">Магазин</a></li>
                <li><a href="#">Консалдинг</a></li>
              </ul>
            </div>
            <!-- /.cell -->
            <div class="cell large-4">
              <ul class="links vertical menu simple">
                <li><a href="#">Тренинги</a></li>
                <li><a href="#">Корпоративные тренинги</a></li>
              </ul>
            </div>
            <!-- /.cell -->
          </div>
          <!-- /.grid-x -->
          <hr>
          <div class="footer-subsection">
            <div class="footer-subsection-title subsection-title h5">Мы в социальных сетях</div>
            <ul class="scl-menu menu simple align-middle">
              <li>
                <a href="#">
                  <svg class="icon" width="28" height="15">
                    <use xlink:href="#vk"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon" width="12" height="21">
                    <use xlink:href="#fcb"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon" width="27" height="27">
                    <use xlink:href="#igm"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg class="icon" width="23" height="15">
                    <use xlink:href="#yt"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- /.subsection -->
        </div>
        <!-- /.footer-content -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
  <div class="footer-bottom">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="copyright-wrapper cell medium-auto medium-order-2">
          <div class="footer-author-copyright copyright">создание сайта <a href="#">Рецепты Рекламы</a></div>
        </div>
        <!-- /.cell -->
        <div class="cell medium-auto medium-order-1">
          <div class="copyright">(c) Все права защищены, 2018</div>
        </div>
        <!-- /.cell -->
      </div>
      <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.footer-bottom -->
</footer>
<!-- /.footer -->