<div class="header">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell small-2 hide-for-medium">
        <button type="button" class="burger" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvas">
          <i></i>
          <i></i>
          <i></i>
        </button>
      </div>
      <!-- /.cell -->
      <div class="cell small-8 medium-5">
        <a href="#" class="header-logo logo"><img src="assets/img/logo.png" alt=""></a>
      </div>
      <!-- /.cell -->
      <div class="infoblock-wrapper cell small-2 medium-7">
        <div class="infoblock">
          <div class="infoblock-content">
            <p class="infoblock-text">
              <a href="tel:+73422030114" class="header-phone-link phone-link">
                <svg class="icon hide-for-medium" width="24" height="24">
                  <use xlink:href="#phone"></use>
                </svg>
                <span class="phone-link-text show-for-medium">+7&nbsp;(342)&nbsp;20&nbsp;30&nbsp;114</span>
              </a>
            </p>
            <a href="#" class="infoblock-link show-for-medium">Заказать обратный звонок</a>
          </div>
        </div>
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
  <div class="navigation show-for-medium">
    <div class="grid-container">
      <ul class="main-menu menu horizontal text-center align-spaced">
        <li><a href="#">Открытые тренинги</a></li>
        <li><a href="#">Корпоративные тренинги</a></li>
        <li><a href="#">Магазин</a></li>
        <li><a href="#">Консалтинг</a></li>
      </ul>
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.navigation -->
</div>
<!-- /.header -->