<div class="hero picture-container">
  <img src="assets/img/bg-hero.jpg" class="show-for-medium" alt="">
  <div class="hero-content picture-container-content">
    <div class="grid-container">
      {{> breadcrumbs}}
      <div class="grid-x grid-padding-x">
        <div class="cell medium-7 large-6">
          <div class="hero-heading heading bordered secondary">
            <h1 class="hero-title h1">Техника эффективного руководителя</h1>
            <div class="hero-subtitle h5">Технологии управления сотрудниками</div>
          </div>
          <ul class="info-list">
            <li>
              <div class="info-list-picture">
                <svg class="icon" width="27" height="27">
                  <use xlink:href="#schedule"></use>
                </svg>
              </div>
              Дата проведения: 1 мая - 10 июня 2018
            </li>
            <li>
              <div class="info-list-picture">
                <svg class="icon" width="28" height="28">
                  <use xlink:href="#clock"></use>
                </svg>
              </div>
              Длительность: 3 дня
            </li>
            <li>
              <div class="info-list-picture">
                <svg class="icon" width="32" height="32">
                  <use xlink:href="#talk"></use>
                </svg>
              </div>
              Формат: онлайн
            </li>
            <li>
              <div class="info-list-picture">
                <svg class="icon" width="35" height="24">
                  <use xlink:href="#cash"></use>
                </svg>
              </div>
              Стоимость: от 12 000 руб.
            </li>
            <li>
              <div class="info-list-picture">
                <svg class="icon" width="21" height="27">
                  <use xlink:href="#marker"></use>
                </svg>
              </div>
              Город: Пермь
            </li>
          </ul>
          <button type="button" class="hero-video-button video-button button small hollow small-expanded">
            <svg class="icon" width="28" height="28">
              <use xlink:href="#play"></use>
            </svg> Видеоприглашение
          </button>
        </div>
        <!-- /.cell -->
        <div class="cell medium-5 large-5 large-offset-1 xlarge-4 xlarge-offset-2">
          <div class="header-callback-form callback-form content-card">
            <form>
              <div class="callback-form-title h4 text-center">Запись на обучение</div>
              <label>
                <input type="text" placeholder="Имя">
              </label>
              <label>
                <input type="text" placeholder="Фамилия">
              </label>
              <label>
                <input type="text" placeholder="Телефон">
              </label>
              <label>
                <input type="text" placeholder="E-mail">
              </label>
              <p class="form-row">
                <input type="checkbox" name="terms-сheckbox" value="1" id="agree-terms-checkbox" class="callback-checkbox checkbox" checked="">
                <label for="agree-terms-checkbox">Хочу получать полезные статьи</label>
              </p>
              <button type="submit" class="callback-submit-button button expanded secondary">Записаться</button>
              <p class="policy help-text">Нажимая кнопку, вы даете согласие <br><a href="#">на обработку персональных данных</a></p>
            </form>
          </div>
          <!-- /.callback-form -->
        </div>
        <!-- /.cell -->
      </div>
      <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.hero-content -->
</div>
<!-- /.hero -->