<div class="learn section">
  <div class="grid-container">
    <div class="h3">На этом тренинге вы научитесь</div>
    <ul class="custom-list grid-x grid-padding-x">
      <li class="cell medium-6">Описывать ситуацию, формулировать проблему и предлагать качественное решение</li>
      <li class="cell medium-6">Описывать ситуацию, формулировать проблему и предлагать качественное решение</li>
      <li class="cell medium-6">Как уйти от постоянного «тушения пожаров» </li>
      <li class="cell medium-6">Как уйти от постоянного «тушения пожаров» </li>
      <li class="cell medium-6">Как поставить задачу и получить запланированный результат </li>
      <li class="cell medium-6">Как поставить задачу и получить запланированный результат</li>
      <li class="cell medium-6">Как выстраивать конструктивные взаимоотношения с сотрудниками</li>
    </ul>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.learn -->