<div class="mail section">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <div class="mail-heading">
          <div class="h2">Мы собрали все статьи в одно письмо</div>
          Много  полезной информации
        </div>
        <form>
          <label><input type="text" placeholder="Введите e-mail"></label>
          <button type="submit" class="button secondary">Пришлите мне</button>
        </form>
      </div>
      <!-- /.cell -->
      <div class="cell medium-6">
        <img src="assets/img/letter.png" alt="">
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.mail -->