<div class="mail section">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-bottom">
      <div class="cell medium-5 medium-order-2 large-4 xlarge-3 text-center medium-text-left">
        <div class="mail-picture">
          <img src="assets/img/letter.png" alt="">
        </div>
      </div>
      <!-- /.cell -->
      <div class="cell medium-7 medium-order-1 large-6 large-offset-1 xlarge-5 xlarge-offset-2">
        <div class="mail-content">
          <div class="mail-heading">
            <div class="mail-title h2">Мы собрали все статьи в одно письмо</div>
            <div class="mail-subtitle">Много полезной информации</div>
          </div>
          <div class="mail-form">
            <form>
              <label><input type="text" placeholder="Введите e-mail"></label>
              <button type="submit" class="mail-submit-button button long secondary small-expanded">Пришлите мне</button>
            </form>
          </div>
          <!-- /.mail-form -->
        </div>
        <!-- /.mail-content -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.mail -->