<div class="map-wrapper">
  <div id="map" class="map"></div>
  <div class="map-info">
    <div class="grid-container">
      <div class="map-details card">
        <div class="card-section">
          <div class="heading bordered secondary">
            <div class="map-details-title h2">Где?</div>
            <div class="map-details-subtitle">г.Пермь, ул. Старцева, 1а, офис 102</div>
          </div>
          <p>Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая
            мысль; в общем плане связная и полная последовательность символов.</p>
        </div>
      </div>
      <!-- /.map-details -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.map-info -->
</div>
<!-- /.map-wrapper -->