<div class="partners section light">
  <div class="grid-container">
    <div class="partners-title h2">Партнёры</div>
    <div class="partners-slider-wrapper">
      <div id="partners-slider" class="partners-slider swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="partners-item">
              <img src="assets/img/partners/1.png" alt="">
            </a>
          </div>
          <!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="partners-item">
              <img src="assets/img/partners/2.png" alt="">
            </a>
          </div>
          <!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="partners-item">
              <img src="assets/img/partners/3.png" alt="">
            </a>
          </div>
          <!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="partners-item">
              <img src="assets/img/partners/4.png" alt="">
            </a>
          </div>
          <!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="partners-item">
              <img src="assets/img/partners/5.png" alt="">
            </a>
          </div>
          <!-- /.swiper-slide -->
          <div class="swiper-slide">
            <a href="#" class="partners-item">
              <img src="assets/img/partners/6.png" alt="">
            </a>
          </div>
          <!-- /.swiper-slide -->
        </div>
        <!-- /.swiper-wrapper -->
      </div>
      <!-- /.partners-slider -->
      <!-- <div class="partners-slider-navigation"> -->
        <div id="partners-slider-next" class="partners-slider-control next swiper-button-next">
          <svg class="icon" width="40" height="39"><use xlink:href="#control-next"></use></svg>
        </div>
        <div id="partners-slider-prev" class="partners-slider-control prev swiper-button-prev">
          <svg class="icon" width="40" height="39"><use xlink:href="#control-prev"></use></svg>
        </div>
      <!-- </div> -->
    </div>
    <!-- /.partners-slider-wrapper -->
    <button class="button secondary small-expanded">Стать партнёром</button>
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.partners -->