<div class="practice picture-container text-center">
  <img src="assets/img/bg-practice.jpg" alt="">
  <div class="practice-content picture-container-content">
    <div class="grid-container">
      <p class="practice-heading lead heading bordered centered secondary">Знаете, что самое крутое <br>в этом тренинге?</p>
      <div class="practice-info">
        <div class="practice-title">Это практика!</div>
        <p>У вас будет рабочая тетрадка, в которой вы будете планировать то дело, которое у вас не получается сделать
          долгое время. Самостоятельно, вместе с Максимом и в малых группах вы будете прорабатывать каждый блок
          программы.</p>
      </div>
      <button type="button" class="button long secondary small-expanded">Зарегистрироваться</button>
      <!-- /.cell -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.practice-content -->
</div>
<!-- /.practice -->