<div class="practice picture-container text-center">
  <div class="practice-content picture-container-content">
    <img src="assets/img/bg-practice.jpg" alt="">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-10 medium-offset-1">
          <p class="lead heading bordered secondary">Знаете, что самое крутое <br>в этом тренинге?</p>
          <div class="practice-info">
            <div class="practice-title">Это практика!</div>
            <p>У вас будет рабочая тетрадка, в которой вы будете планировать то дело, которое у вас не получается сделать долгое время. Самостоятельно, вместе с Максимом и в малых группах вы будете прорабатывать каждый блок программы.</p>
          </div>
          <button type="button" class="button secondary">Зарегистрироваться</button>
        </div>
        <!-- /.cell -->
      </div>
      <!-- /.grid-x -->
    </div>
    <!-- /.grid-container -->
  </div>
  <!-- /.practice-content -->
</div>
<!-- /.practice -->