<div class="prices section light">
  <div class="grid-container">
    <div class="h2">Стоимость</div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6 large-4">
        <div class="prices-item card">
          <div class="prices-item-info card-section">
            <div class="text-center">
              <div class="prices-item-heading h4 bordered">Малый бизнес</div>
              <p class="prices-item-description">Специальное решение для небольших и средних компании</p>
            </div>
            <ul class="checked-list">
              <li>Наименование особенности</li>
              <li>Полная поддержка</li>
            </ul>
          </div>
          <!-- /.prices-item-info -->
          <div class="prices-item-costs card-section">
            <table class="costs-table">
              <tbody>
                <tr>
                  <td>Цена за одного участника</td>
                  <td>
                    <div class="cost">2 000 Руб.</div>
                    <div class="cost previous">5 000</div>
                  </td>
                </tr>
                <tr>
                  <td>Количество участников</td>
                  <td>
                    <div class="counter">
                      <button class="counter-button button minus">−</button>
                      <input type="number" class="counter-input" value="4" min="1" max="1001" readonly="">
                      <button class="counter-button button plus">+</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Общая стоимость</td>
                  <td>
                    <div class="cost total">8 000 Руб.</div>
                    <div class="cost previous">20 000</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.costs-table -->
            <button class="button bordered">Записаться</button>
          </div>
          <!-- /.prices-item-costs -->
        </div>
        <!-- /.prices-item -->
      </div>
      <!-- /.cell -->
      <div class="cell medium-6 large-4">
        <div class="prices-item card">
          <div class="prices-item-info card-section">
            <div class="text-center">
              <div class="prices-item-heading h4 bordered">Стандарт</div>
              <p class="prices-item-description">Специальное решение для небольших и средних компании</p>
            </div>
            <ul class="checked-list">
              <li>Наименование особенности</li>
              <li>Полная поддержка</li>
              <li>Доступ 24/7</li>
              <li>Индивидуальный тренер</li>
            </ul>
          </div>
          <!-- /.prices-item-info -->
          <div class="prices-item-costs card-section">
            <table class="costs-table">
              <tbody>
                <tr>
                  <td>Цена за одного участника</td>
                  <td>
                    <div class="cost">3 000 Руб.</div>
                    <div class="cost previous">5 000</div>
                  </td>
                </tr>
                <tr>
                  <td>Количество участников</td>
                  <td>
                    <div class="counter">
                      <button class="counter-button button minus">−</button>
                      <input type="number" class="counter-input" value="1" min="1" max="1001" readonly="">
                      <button class="counter-button button plus">+</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Общая стоимость</td>
                  <td>
                    <div class="cost total">3 000 Руб.</div>
                    <div class="cost previous">20 000</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.costs-table -->
            <button class="button bordered">Записаться</button>
          </div>
          <!-- /.prices-item-costs -->
        </div>
        <!-- /.prices-item -->
      </div>
      <!-- /.cell -->
      <div class="cell medium-6 large-4">
        <div class="prices-item card">
          <div class="prices-item-info card-section">
            <div class="text-center">
              <div class="prices-item-heading h4 bordered">Большой бизнес</div>
              <p class="prices-item-description">Специальное решение для небольших и средних компании</p>
            </div>
            <ul class="checked-list">
              <li>Наименование особенности</li>
              <li>Полная поддержка</li>
              <li>Доступ 24/7</li>
              <li>Наименование</li>
              <li>Полная поддержка</li>
            </ul>
          </div>
          <!-- /.prices-item-info -->
          <div class="prices-item-costs card-section">
            <table class="costs-table">
              <tbody>
                <tr>
                  <td>Цена за одного участника</td>
                  <td>
                    <div class="cost">5 000 Руб.</div>
                    <div class="cost previous">15 000</div>
                  </td>
                </tr>
                <tr>
                  <td>Количество участников</td>
                  <td>
                    <div class="counter">
                      <button class="counter-button button minus">−</button>
                      <input type="number" class="counter-input" value="1" min="1" max="1001" readonly="">
                      <button class="counter-button button plus">+</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Общая стоимость</td>
                  <td>
                    <div class="cost total">5 000 Руб.</div>
                    <div class="cost previous">20 000</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.costs-table -->
            <button class="button bordered">Записаться</button>
          </div>
          <!-- /.prices-item-costs -->
        </div>
        <!-- /.prices-item -->
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.prices -->