<div class="text section light">
  <div class="grid-container">
    <table class="custom-table stack">
      <thead>
        <tr>
          <th>Наименование товара или услуги</th>
          <th>Количество</th>
          <th>Общая стоимость</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Наименование позиции</td>
          <td>33</td>
          <td>67 500 руб.</td>
          <td>
            <div>
              <input type="checkbox" name="table-сheckbox" value="1" id="table-checkbox-1" class="checkbox" checked="">
              <label for="table-checkbox-1" class="table-label"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td>Наименование пункта таблицы</td>
          <td>1</td>
          <td>1 000 руб.</td>
          <td>
            <div>
              <input type="checkbox" name="table-сheckbox" value="1" id="table-checkbox-2" class="checkbox" checked="">
              <label for="table-checkbox-2" class="table-label"></label>
            </div>
          </td>
        </tr>
        <tr>
          <td>Имя курса</td>
          <td>33</td>
          <td>9 900 руб.</td>
          <td>
            <div>
              <input type="radio" name="radio-button" value="2" id="radio-button-1" class="radio" checked="">
              <label for="radio-button-1" class="table-label"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-title h3">Текстовый блок</div>
    <div class="grid-x grid-padding-x">
      <div class="cell large-6">
        <p>Самый известный в России специалист по лидерству. Автор 9 книги 14 фильмовпо лидерству и ораторскому искусству.
          Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в профессии по результатам
          года. Лауреат Книжной премии Рунета 2013.</p>
        <p>Радислав Гандапас — самый известный в России специалист по лидерству. Автор 9 книги 14 фильмовпо лидерству и ораторскому
          искусству. Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в профессии
          по результатам года. Лауреат Книжной премии Рунета 2013.</p>
      </div>
      <!-- /.cell -->
      <div class="cell large-6">
        <p>Самый известный в России специалист по лидерству. Автор 9 книги 14 фильмовпо лидерству и ораторскому искусству.
          Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в профессии по результатам
          года. Лауреат Книжной премии Рунета 2013. Радислав Гандапас — самый известный в России специалист по лидерству.
          Автор 9 книги 14 фильмовпо лидерству и ораторскому искусству.</p>
        <p>Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в профессии по результатам
          года. Лауреат Книжной премии Рунета 2013.</p>
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.text -->