<div class="trainer section">
  <div class="grid-container">
    <div class="trainer-content grid-x grid-padding-x">
      <div class="cell medium-7">
        <div class="trainer-info">
          <div class="heading bordered">
            <div class="trainer-title h3">Радислав Гандапас</div>
            <div class="trainer-subtitle">Тренер</div>
          </div>
          <p>Самый известный в России специалист по лидерству. Автор 9 книги 14 фильмовпо лидерству и ораторскому
            искусству.
            Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в профессии по
            результатам
            года. Лауреат Книжной премии Рунета 2013.</p>
          <p>Радислав Гандапас — самый известный в России специалист по лидерству. Автор 9 книги 14 фильмовпо лидерству
            и ораторскому
            искусству. Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в
            профессии
            по результатам года. Лауреат Книжной премии Рунета 2013.</p>
        </div>
        <!-- /.trainer-info -->
      </div>
      <!-- /.cell -->
      <div class="cell medium-5">
        <img src="assets/img/trainer.png" alt="">
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.trainer -->