<div class="whom section">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6 medium-order-2">
        <div class="heading bordered secondary h3">Для кого</div>
        <p>Руководителям высшего и среднего звена производственных и услуговых предприятий. Особенно руководителям и специалистам
          служб главного инженера, главного механика, главного технолога, качества. Предварительной теоретической подготовки
          в области бережливого производства не требуется.</p>
        <p>Опыт работы в проектах, опыт управленческой и командной работы будет полезен.</p>
      </div>
      <!-- /.cell -->
      <div class="cell medium-6 medium-order-1">
        <img src="assets/img/presentation.png" alt="">
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.whom -->