<div class="whom section">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-middle">
      <div class="cell medium-7 medium-order-2 large-5">
        <div class="whom-content">
          <div class="heading bordered secondary h3">Для кого</div>
          <p>Руководителям высшего и среднего звена производственных и услуговых предприятий. Особенно руководителям и
            специалистам
            служб главного инженера, главного механика, главного технолога, качества. Предварительной теоретической
            подготовки
            в области бережливого производства не требуется.</p>
          <p>Опыт работы в проектах, опыт управленческой и командной работы будет полезен.</p>
        </div>
        <!-- /.whom-content -->
      </div>
      <!-- /.cell -->
      <div class="cell medium-5 medium-order-1 large-6 text-center">
        <img src="assets/img/presentation.png" alt="">
      </div>
      <!-- /.cell -->
    </div>
    <!-- /.grid-x -->
  </div>
  <!-- /.grid-container -->
</div>
<!-- /.whom -->